<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>
            Map of Life -- MODIS Habitat Change Tool
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
         <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript">
            google.load('visualization', '1', {packages: ['corechart']});
        </script>
        <script 
            type="text/javascript" 
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <style type="text/css">
            .visualization {
                float:left;
                width: 500px;
            }
            .modis_class {
                display:none;
            }
            .modis_label {
                display:none;
            }
            #map_container {
                float: right;
                width: 500px;
            }
            .key {
                float: right;
                width: 300px;
            }
            .sci {
                display: inline;
                font-size:9pt;
                font-style: italic;
            }
            .eng {
                font-size:9pt;
                display: inline;
            }
            .working {
                display:inline
            }
        </style>
        <script type="text/javascript" src="/js/mol_change_tool.js"></script>
        <script type="text/javascript">
            var scientificname = getURLParameter("name"), 
                commonnames = '',
                modis_maptypes = {},
                chartData = [],
                map_options = {
                    zoom: 1,
                    center: new google.maps.LatLng(0,0),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles: [
                      {
                        "featureType": "landscape",
                        "stylers": [
                          { "color": "#f4f4f4" }
                        ]
                      },{
                        "featureType": "water",
                        "stylers": [
                          { "visibility": "simplified" }
                        ]
                      },{
                      },{
                        "featureType": "water",
                        "stylers": [
                          { "color": "#808080" }
                        ]
                      },{
                        "featureType": "administrative",
                        "stylers": [
                          { "visibility": "off" }
                        ]
                      },{
                        "featureType": "administrative.country",
                        "elementType": "labels",
                        "stylers": [
                          { "visibility": "off" }
                        ]
                      },{
                        "featureType": "road",
                        "stylers": [
                          { "visibility": "off" }
                        ]
                      },{
                        "featureType": "poi",
                        "stylers": [
                          { "visibility": "off" }
                        ]
                      }
                    ]               
                },
                map;
                                
            google.setOnLoadCallback(init);

            $.ui.autocomplete.prototype._renderItem = function (ul, item) {

                item.label = item.label.replace(
                    new RegExp("(?![^&;]+;)(?!<[^<>]*)(" +
                       $.ui.autocomplete.escapeRegex(this.term) +
                       ")(?![^<>]*>)(?![^&;]+;)", "gi"),
                    "<strong>$1</strong>"
                );
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.label + "</a>")
                    .appendTo(ul);
            };
        </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
    <div class="thumb"></div>
    <input type="text" placeholder="Search by species name" size=50 class="search">
    Chart Type: 
    <select class="mode">
        <option value="pct">Percent of 2001 area</option>
        <option value="area">Area (sq km)</option>
    </select>
    <table>
       <tbody><tr><td>
           <div id="working">
        Computing habitat area change 
        <span id="name"></span>. 
        Please wait.
        <br>
        <img src="/static/loading.gif">
    </div>
    
    <div id="visualization" style="width: 600px; height: 400px;"></div>
    </td>
    <td>
        <div id="map_container" style="width: 600px; height: 400px;"></div>
    </td><td>
        
        <div class="elev_range"></div>
        <div class="modis_label">Selected MODIS habitats:</div>
        <div class="modis_key">
            <div class="modis_class 1">Evergreen Needleleaf Forests</div>
            <div class="modis_class 2">Evergreen Broadleaf Forests</div>
            <div class="modis_class 3">Deciduous Needleleaf Forests</div>
            <div class="modis_class 4">Deciduous Broadleaf Forests</div>
            <div class="modis_class 5">Mixed Forests</div>
            <div class="modis_class 6">Closed Shrublands</div>
            <div class="modis_class 7">Open Shrublands</div>
            <div class="modis_class 8">Woody Savannas</div>
            <div class="modis_class 9">Savannas</div>
            <div class="modis_class 10">Grasslands</div>
            <div class="modis_class 11">Permanent Wetlands</div>
            <div class="modis_class 12">Cropland</div>
            <div class="modis_class 13">Urban and Built-up</div>
            <div class="modis_class 14">Cropland/Natural Vegetation Mosaics</div>
            <div class="modis_class 15">Snow and Ice Barren</div>
            <div class="modis_class 16">Barren</div>
            <div class="modis_class 17">Water Bodies</div>
        </div>
       </td>
       </tr>
       </tbody>
       </table>
    
   </body>
</html>